.data-hora {
    text-align: center;
}

#dialog-fechar{
    position: absolute;
    top: 0;
    right: 0;
}

.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#alerta-ponto-registrado {
    border: 1px solid red;
    right: 3px;
    bottom: 3px;
    position: fixed;
    font-size: 1.5rem;

    background-color: rgb(26, 228, 26);
    color: white;
    padding: 10px;
}